<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level [%thread] - [%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="${LOG_ROOT_LEVEL:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>

	<turboFilter
		class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>TESTFILTER</Name>
		<Marker>TECHNICAL</Marker>
		<OnMatch>DENY</OnMatch>
	</turboFilter>

</configuration>
